$primary: rgb(239, 159, 46);
$yellow: #ffdd53;
$background: rgb(247, 246, 244);
$button: $primary;
$box: lighten($primary, 35%);
// $box: rgb(255, 255, 255);


@font-face {
  font-family: railey;
  src: url(./railey/Railey-PersonalUse.ttf);
}

* {
  box-sizing: border-box;
  
}

.input, .comment, body{
  background-color: $background;

}

body, html {
  // background-color: $background;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  color: grey;
  ::placeholder{
    color: grey;
  }
}
// .btn{
//   background-color: rgb(196, 72, 72);
//   border: none;
//   &:hover{
//     background-color: lighten($primary, 10%);
//   }
// }
a{
  text-decoration: none;
  color: $primary;
  &:hover{
    color: lighten($primary, 10%);
  }
}
.image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.highlight{
  color: lighten($primary, 10%);
  font-weight: 800;
  font-size: 1.3em;
}

.modal{
  z-index: 1200;

}
//HOMEPAGE
.home{
  height: 100vh;
  width: 100vw;
  // .carousel-inner{
  //   display: flex;
  //   align-items: end;
  // }
  .header{
    font-family: railey;
    font-size: 120px;
    color: lighten($primary, 10%);
  }
  .feature{
    max-width: 400px;
    align-self: flex-end;
    border-top: 1px solid white;
    padding-top: 10px;
    // a{
    //   color
    // }
  }
  .benefit{
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: 700;
    animation-delay: 0.2s;
  }
  .carousel-control-prev, .carousel-control-next{
    width: 10%;
    // justify-content: flex-start;
    top: 10%;
    bottom: 10%;
  }
  // .carousel-control-prev{
  //   justify-content: flex-end;
  // }
  .carousel-caption{
    right: 20%;
    top: 20%;
    
    }
  
}
.benefit-small{
  color: lighten($primary, 10%);
  display: inline-block;
  &:hover{
    color: lighten($primary, 20%);
  }
}
#overlay {
  width: 620px;
  position: absolute;
  top: 35%;
  left: 32%;

  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 2;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
      color: lighten($primary, 30%);
  }
}

.navbar.normal{
  background-color: $primary;
  padding-top: 0;
  padding-bottom: 0;

}

.navbar {

  z-index: 1100;
  top: 0;
  position: sticky;
  


  .nav-link, a {
    color: white;
    cursor: pointer;
    &:hover{
      color: black;
    }
  }

  .title {
    font-size: 50px;
    font-family: railey;
  }
  .logo{
    height: 70px;
    padding-bottom: 5px;
  }
}

.filters{
  padding: 0 12px;

  .search{
    width: calc(70% - 10px);
    // border: none;
    font-size: 30px;
    font-weight: 900;
  }
  ::placeholder{
    color: $primary;
  }

  .select{
    width: calc(30% - 10px);
    color: grey;
    font-weight: 900;
  }
}



.index{
  .index-row{
    min-height: 300px;
  }
  
  .index-card{
    
    border-radius: 5px;
    height: 300px;
    width: 100%;
    padding: 10px;
    color: white;
    &:hover{
      filter: brightness(0.9);
    }
  }
  .card-title{
    font-size: 45px;
  }

  
}

.single {
  white-space: pre-line;
  .main{
    // color: black;
    background-color: $box;
    // background-color: lighten($primary, 40%);
    border-radius: 16px;
    
    
  }
  .img-single{
    // width: 500px;
    // background-size: contain;
    // background-position: left;
    min-height: 500px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px 0 0 15px;
  }
}


//FAVOURITE

// .favourited {
//   // background-color: $secondary;

//   &:hover {
//     border-radius: 15px;
//   }
// }
.star{
  color: $primary;
}

.fave {
  border: none;
  // padding-top: 5px;
  margin: 0 5px 0 0;
  font-size: 30px;

  cursor: pointer;

}

.textBox {
  background-color: $box;
  border-radius: 15px;
  padding: 10px;
  color: darken(grey, 5%);
  // margin-top: 15px;
  // max-width: 780px;
}

.comment {
  border: none;

  .username {
    padding-right: 10px;
    color: lighten($primary, 15%);

    &:hover {
      color: lighten($primary, 30%);
    }
  }

}
.create{
  max-width: 400px;
  width: 100%;
}
.edit-btn {
  cursor: pointer;
  margin: 0 0 0 20px;
  font-size: '20px';
}
.profile{
  .section{
    border: 1px solid lightgrey;
    border-radius: 20px;
  }
  .dash{
    width: 300px;
  }
  .carousel-control-prev, .carousel-control-next{
    width: 5%;
    justify-content: flex-end;
  }
  .carousel-control-prev{
    justify-content: flex-start;
  }
  .carousel-inner{
    padding: 0 15px;
  }
  .carousel-caption{   ///CAROUSEL PROFILE
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;

    .index-card{
      margin: 0 10px;
    }
  }
}
.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.icon:not(.small) {
  width: 100px;
  height: 100px;
  margin-top: -7px;
}
.icon.small{
  width: 60px;
  height: 60px;
  margin-top: -6px;
}

.username a {
  padding-right: 10px;
  color: $primary;

  &:hover {
    color: lighten($primary, 20%);
  }

}

.collection{
  .card{
    height: 200px;
    color: white;
    padding: 5px;
    border: none;
    background-color: rgba(0,0,0,0.2);
    &:hover{
      filter: brightness(0.9);
      background-color: rgba(0,0,0,0.3);
    }
  }
  .card-title{
    font-size: 23px;
    font-weight: 600;
  }
  .benefits{
    font-size: 0.9em;
  }

}

@media (max-width: 576px){
  #overlay{
    top: 30%;
    left: 70%;
  }
  .btn{
    width: 100%;
  }
  .fave{
    font-size: 10vw;
  }
  .single{
    .image{
      min-height: 90vw;
    }
  }
  .index{
    .fave, .card-title{
      font-size: calc(10px + 7vw);
    }
    .index-detail{
      font-size: 5vw;
    }
    .filters{
      .search{
        width: 100%;
        // border: none;
        font-size: 6vw;
        font-weight: 900;
      }
      .select{
        width: 50%;
        align-self: end;
        margin: 10px 0;
        font-weight: 900;
        font-size: 3vw;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 992px){
  #overlay{
    top: 30vh;
    left: 50vw;
  }
  .index{
    .fave, .card-title{
      font-size: calc(10px + 3vw);
    }
    .index-detail{
      font-size: 2vw;
    }
  }
  .container{
    max-width: none;
  }
}


