$primary: rgb(229, 145, 43);

* {
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1100;
  background-color: $primary;


  .nav-link, a {
    color: white;
    cursor: pointer;
    &:hover{
      color: black;
    }
  }

  .logo {
    font-size: 30px;
  }



}