$primary: rgb(229, 145, 43);

* {
  box-sizing: border-box;
  
}

body, html {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  color: grey;
  ::placeholder{
    color: grey;
  }
}
a{
  text-decoration: none;
}
.image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1100;
  background-color: $primary;


  .nav-link, a {
    color: white;
    cursor: pointer;
    &:hover{
      color: black;
    }
  }

  .logo {
    font-size: 30px;
  }
}

.filters{
  padding: 0 12px;

  .search{
    width: calc(70% - 10px);
    // border: none;
    font-size: 30px;
    font-weight: 900;
  }
  ::placeholder{
    color: $primary;
  }

  .select{
    width: calc(30% - 10px);
    color: grey;
    font-weight: 900;
  }
}



.index{
  .index-row{
    min-height: 300px;
  }
  
  .index-card{
    
    border-radius: 5px;
    height: 300px;
    width: 100%;
    padding: 10px;
    color: white;
  }
  .fave, .card-title{
    font-size: 50px;
  }
  
}
@media (max-width: 576px){
  .index{
    .fave, .card-title{
      font-size: 12vw;
    }
    .index-detail{
      font-size: 5vw;
    }
    .filters{
      .search{
        width: 100%;
        // border: none;
        font-size: 6vw;
        font-weight: 900;
      }
      .select{
        width: 50%;
        align-self: end;
        margin: 10px 0;
        font-weight: 900;
        font-size: 3vw;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 992px){
  .index{
    .fave, .card-title{
      font-size: 5vw;
    }
    .index-detail{
      font-size: 2vw;
    }
  }
  .container{
    max-width: none;
  }
}


.single {
  white-space: pre-line;
  .main{
    // color: black;
    background-color: lighten($primary, 40%);
    border-radius: 16px;
    

  }
  .image{
    // width: 500px;
    min-height: 500px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px 0 0 15px;
  }
}
